In [30]:
import numpy as np
import pandas as pd

In [31]:
ls

 Volume in drive D is New Volume
 Volume Serial Number is 6220-5780

 Directory of D:\goat mytra

15-06-2024  20:00    <DIR>          .
15-06-2024  20:00    <DIR>          ..
15-06-2024  19:11    <DIR>          .ipynb_checkpoints
15-06-2024  17:04                 0 data_ingestion.py
15-06-2024  19:09                 0 Dockerfile
15-06-2024  19:05               638 exceptions.py
15-06-2024  20:00            30,654 Experiment Notebook.ipynb
15-06-2024  19:09                 0 fast_api.py
15-06-2024  17:04                 0 feature_engineering.py
15-06-2024  19:21               728 goat_dataset.csv
15-06-2024  19:05               422 logger.py
15-06-2024  19:25    <DIR>          logs
15-06-2024  19:11                 0 main_pipeline.py
15-06-2024  19:06                 0 MLflow.py
15-06-2024  17:05                 0 model_trainer.py
15-06-2024  19:13    <DIR>          myvenv
15-06-2024  17:06               182 requirements.txt
15-06-2024  19:08    <DIR>          rust_functions
              12 File(s)         32,624 bytes
               6 Dir(s)  972,527,476,736 bytes free

In [32]:
df = pd.read_csv("goat_dataset.csv")

## Exploratory Data Analysis

In [33]:
df.head()

,owner_name,adhaar_number,goat_id,milk_in_litres,age,height,weight,pregnancy,behavior,gender,hay_grass_intake,meat_quality_of_the_goat,milk_quality_of_the_goat
0,Aarav,123456789012,1,10,2,70,35,no,docile,female,5,4,5
1,Vihaan,987654321098,2,15,3,75,40,yes,normal,female,6,3,4
2,Vivaan,456123789012,3,20,4,80,45,no,aggressive,male,7,5,3
3,Aadhya,321654987012,4,8,1,65,30,no,docile,male,4,2,2
4,Anaya,654789123456,5,12,5,85,50,yes,normal,female,8,4,5

In [34]:
df.describe()

,adhaar_number,goat_id,milk_in_litres,age,height,weight,hay_grass_intake,meat_quality_of_the_goat,milk_quality_of_the_goat
count,1.000000e+01,10.00000,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000
mean,6.063039e+11,5.50000,15.500000,3.000000,76.500000,40.400000,6.10000,3.700000,3.600000
std,3.211400e+11,3.02765,5.778312,1.490712,7.947746,7.791734,1.66333,1.159502,1.173788
min,1.234568e+11,1.00000,8.000000,1.000000,65.000000,30.000000,4.00000,2.000000,2.000000
25%,3.552722e+11,3.25000,10.500000,2.000000,70.500000,35.250000,5.00000,3.000000,3.000000
50%,7.043703e+11,5.50000,15.500000,3.000000,76.500000,39.000000,6.00000,4.000000,3.500000
75%,8.369205e+11,7.75000,19.500000,4.000000,81.500000,44.250000,7.00000,4.750000,4.750000
max,9.876543e+11,10.00000,25.000000,5.000000,90.000000,55.000000,9.00000,5.000000,5.000000

## Feature Engineering

In [35]:
df.drop(["owner_name" , "adhaar_number" , "goat_id"] , axis = 1 , inplace = True)

In [36]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [37]:
df.columns

Index(['milk_in_litres', 'age', 'height', 'weight', 'pregnancy', 'behavior',
       'gender', 'hay_grass_intake', 'meat_quality_of_the_goat',
       'milk_quality_of_the_goat'],
      dtype='object')

In [38]:
numerical_columns = ["milk_in_litres" , "age" , "height" , "weight" , "hay_grass_intake"]
categorical_columns = ["pregnancy" , "behavior" , "gender"]

In [39]:
## StandardScaler for numerical columns
## OneHotEncoding for categorical columns

In [40]:
numerical_pipeline = Pipeline(
    steps = [
        ("imputer" , SimpleImputer(strategy = "median")),
        ("scaler" , StandardScaler())
    ]
)

categorical_pipeline = Pipeline(
    steps=[
        ("imputer" , SimpleImputer(strategy = "most_frequent")),
        ("one_hot_encoder" , OneHotEncoder()),
        ("scaler" , StandardScaler(with_mean = False))
    ]
)

preprocessor = ColumnTransformer(
                [
                    ("numerical_pipeline",numerical_pipeline,numerical_columns),
                    ("categorical_pipeline",categorical_pipeline,categorical_columns)
                ]
)

## milk_quality_of_the_cow

In [41]:
x = df.drop(["meat_quality_of_the_goat" , "milk_quality_of_the_goat"] , axis = 1 )
y = df[["milk_quality_of_the_goat"]]

In [42]:
from sklearn.model_selection import train_test_split

# Assuming X and y are your features and labels respectively
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

print(f"Training set size: {x_train.shape[0]}")
print(f"Test set size: {x_test.shape[0]}")

Training set size: 8
Test set size: 2

In [43]:
x_train = preprocessor.fit_transform(x_train)
x_test = preprocessor.transform(x_test)

In [44]:
x_train.shape

(8, 12)

In [45]:
x_test.shape

(2, 12)

## Model Building

### Giving every model a chance along with grid search cv implementation

In [49]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [50]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\maste\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\maste\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\maste\anaconda3\lib\site-packages (from xgboost) (1.11.4)

In [55]:
X_train = x_train
X_test = x_test

In [57]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBRegressor

models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    print(y_train_pred)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

[[4.]
 [5.]
 [2.]
 [3.]
 [3.]
 [5.]
 [2.]
 [3.]]
Linear Regression
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 2.3926
- Mean Absolute Error: 2.3458
- R2 Score: -21.8977
===================================


[3.375 3.375 3.375 3.375 3.375 3.375 3.375 3.375]
Lasso
Model performance for Training set
- Root Mean Squared Error: 1.1110
- Mean Absolute Error: 0.9688
- R2 Score: 0.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1.2311
- Mean Absolute Error: 1.1250
- R2 Score: -5.0625
===================================


[[3.99684916]
 [4.71350824]
 [2.19066456]
 [2.97024234]
 [2.59362075]
 [4.88019812]
 [2.47174585]
 [3.18317098]]
Ridge
Model performance for Training set
- Root Mean Squared Error: 0.2634
- Mean Absolute Error: 0.2114
- R2 Score: 0.9438
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.9426
- Mean Absolute Error: 0.8438
- R2 Score: -2.5539
===================================


[[3.4]
 [3. ]
 [3. ]
 [3.4]
 [3. ]
 [3.4]
 [3. ]
 [3.8]]
K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 1.1023
- Mean Absolute Error: 0.9250
- R2 Score: 0.0157
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.7616
- Mean Absolute Error: 0.7000
- R2 Score: -1.3200
===================================


[4. 5. 2. 3. 3. 5. 2. 3.]
Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1.5811
- Mean Absolute Error: 1.5000
- R2 Score: -9.0000
===================================

C:\Users\maste\AppData\Local\Temp\ipykernel_8372\415202671.py:26: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train) # Train model

[3.71 4.29 2.71 3.07 2.99 4.57 2.49 3.54]
Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 0.4762
- Mean Absolute Error: 0.4062
- R2 Score: 0.8163
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 0.9804
- Mean Absolute Error: 0.8150
- R2 Score: -2.8450
===================================


[3.9992964 4.9998126 2.001473  2.9998913 2.9986675 4.9994235 2.0011454
 3.0002928]
XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 0.0009
- Mean Absolute Error: 0.0007
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1.5240
- Mean Absolute Error: 1.4228
- R2 Score: -8.2907
===================================


[4. 5. 2. 3. 3. 5. 2. 3.]
AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1.5811
- Mean Absolute Error: 1.5000
- R2 Score: -9.0000
===================================

C:\Users\maste\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [61]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name   R2_Score
3    K-Neighbors Regressor  -1.320000
2                    Ridge  -2.553926
5  Random Forest Regressor  -2.845000
1                    Lasso  -5.062500
6             XGBRegressor  -8.290694
4            Decision Tree  -9.000000
7       AdaBoost Regressor  -9.000000
0        Linear Regression -21.897682

## KNN Performs the Best

In [64]:
    model = KNeighborsRegressor(n_neighbors=5)
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    print(y_train_pred)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

[[3.4]
 [3. ]
 [3. ]
 [3.4]
 [3. ]
 [3.4]
 [3. ]
 [3.8]]
AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 1.1023
- Mean Absolute Error: 0.9250
- R2 Score: 0.0157

In [65]:
import pickle

In [67]:
with open('milk_quality_model.pkl', 'wb') as file:
    pickle.dump(model, file)